{% extends "base.html" %}

{% block content %}

<h2>My Profile</h2>

<hr>

<p><strong>Username:</strong> {{ user_object.username }}</p>

<p><strong>First Name:</strong> {{ user_object.first_name }}</p>

<p><strong>Last Name:</strong> {{ user_object.last_name }}</p>

<p><strong>Email:</strong> {{ user_object.email }}</p>

<p><strong>Phone:</strong> {{ user_object.phone_number }}</p>

{% if user_object.profile_picture %}
    <img
        src="{{ user_object.profile_picture.url }}"
        width="150"
    >
{% endif %}

<a
    href="{% url 'accounts:profile_update' %}"
    class="btn btn-primary"
>

Edit Profile

</a>

{% endblock %}