{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="container-fluid py-4">

    {% include "dashboard/partials/header.html" %}

    {% include "dashboard/partials/summary_cards.html" %}

    {% include "dashboard/partials/quick_actions.html" %}

    <div class="row">

        <div class="col-lg-6 mb-4">

            {% include "dashboard/partials/top_departments.html" %}

        </div>

        <div class="col-lg-6 mb-4">

            {% include "dashboard/partials/top_courses.html" %}

        </div>

    </div>

    <div class="row">

        <div class="col-lg-6 mb-4">

            {% include "dashboard/partials/recent_students.html" %}

        </div>

        <div class="col-lg-6 mb-4">

            {% include "dashboard/partials/recent_enrollments.html" %}

        </div>

    </div>

    {% include "dashboard/partials/recent_grades.html" %}

    {% include "dashboard/partials/attendance_statistics.html" %}

    {% include "dashboard/partials/grade_distribution.html" %}

</div>

{% endblock %}